In [5]:
import pandas
import numpy

In [54]:
df = pd.read_csv('cereals.csv')
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [57]:
df2

NameError: name 'df2' is not defined

In [56]:
df.sort_values(by='calories', ascending=False)

                        name  calories  protein  vitamins     rating
7                    Basic 4       130        3        25  37.038562
1          100% Natural Bran       120        3         0  33.983679
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
0                  100% Bran        70        4        25  68.402973
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912